<div class="container" *ngIf="weatherData">

  <div class="nav">
    <div class="social">
      <div class="twitter">
        <fa-icon [icon]="faTwitter "></fa-icon>
      </div>
      <div class="instagram">
        <fa-icon [icon]="faInstagram "></fa-icon>
      </div>
      <div class="facebook">
        <fa-icon [icon]="faFacebook "></fa-icon>
      </div>
    </div>
    <div class="logo">Weather.io</div>

    <div class="search">
      <form class="d-flex" role="search" #form="ngForm" (submit)="onSubmit()">
        <div class="search-container">
          <fa-icon [icon]="faMagnifyingGlass" class="search-icon"></fa-icon>
          <input class="form-control me-2" type="search" placeholder="Search Place" aria-label="Search" name="city"
            [(ngModel)]="cityName">
        </div>
      </form>
    </div>
  </div>

  <div class="content">
    <div class="content-icons">
      <div>
        <fa-icon [icon]="faWind " class="content-icons-icon"></fa-icon><span>{{weatherData.current.wind_kph}} kph.
        </span>
      </div>
      <div>
        <fa-icon [icon]="faCloudRain "
          class="content-icons-icon"></fa-icon><span>{{weatherData.current.precip_mm}}%</span>
      </div>
      <div>
        <fa-icon [icon]="faCloud " class="content-icons-icon"></fa-icon><span>{{weatherData.current.cloud}}%</span>
      </div>
      <div>
        <fa-icon [icon]="faTemperature1 "
          class="content-icons-icon"></fa-icon><span>{{weatherData.current.temp_c}}C°</span>
      </div>
      <!-- <div>
        <fa-icon [icon]="faTemperature4 " class="content-icons-icon"></fa-icon><span> C</span>
      </div> -->
      <div>
        <fa-icon [icon]="faWater " class="content-icons-icon"></fa-icon><span>{{weatherData.current.humidity}}%</span>
      </div>
    </div>

    <div class="content-weather-data">
      <div class="content-weather-data-tempAndIcon">
        <div class="content-weather-data-tempAndIcon-icon">
          <fa-icon [icon]="faCloud " *ngIf="weatherData.current.condition.text == 'Partly cloudy'"></fa-icon>
          <fa-icon [icon]="faCloud " *ngIf="weatherData.current.condition.text == 'Cloudy'"></fa-icon>
          <fa-icon [icon]="faSun " *ngIf="weatherData.current.condition.text == 'Clear'"></fa-icon>
          <fa-icon [icon]="faSun " *ngIf="weatherData.current.condition.text == 'Sunny'"></fa-icon>
          <fa-icon [icon]="faCloudRain " *ngIf="weatherData.current.condition.text == 'Rainy'"></fa-icon>
          <fa-icon [icon]="faCloudRain " *ngIf="weatherData.current.condition.text == 'Light rain'"></fa-icon>
          <fa-icon [icon]="faCloudRain " *ngIf="weatherData.current.condition.text == 'Rain'"></fa-icon>
          <fa-icon [icon]="faSnowflake " *ngIf="weatherData.current.condition.text == 'Snowy'"></fa-icon>
          <fa-icon [icon]="faSmog " *ngIf="weatherData.current.condition.text == 'Fog'"></fa-icon>
          <fa-icon [icon]="faSun"
            *ngIf="!['Partly cloudy', 'Cloudy', 'Sunny', 'Rainy', 'Snowy', 'Clear', 'Fog', 'Light rain', 'Rain'].includes(weatherData.current.condition.text)"></fa-icon>
          <div class="content-weather-data-tempAndIcon-icon-text">{{weatherData.current.condition.text}}</div>
        </div>
        <div class="divide"></div>
        <div class="content-weather-data-tempAndIcon-temperature">{{weatherData.current.temp_c | number: '1.0-0'}}°
        </div>
      </div>
      <div class="content-weather-data-date">{{weatherData.location.localtime}}</div>
      <div class="content-weather-data-location">{{weatherData.location.name}} | {{weatherData.location.country}}</div>
    </div>

    <div class="content-image">
      <img src="assets/skyCold.jpg" alt="" *ngIf="weatherData.current.temp_c <= 15">
      <img src="assets/skyHot.jpg" alt="" *ngIf="weatherData.current.temp_c > 15">
    </div>


  </div>

</div>
<router-outlet></router-outlet>